@using Hospital.Core.Entities
@model Appointment

@{
    ViewData["Title"] = "Details";
}

<h1 class="alert alert-warning">Appointment Details</h1>

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input asp-for="Id" class="form-control" disabled />
</div>
<br />

<div class="form-group">
    <label asp-for="AppointmentDate" class="col-form-label"></label>
    <input asp-for="AppointmentDate" class="form-control" disabled />
</div>
<br />

<div class="form-group">
    <label asp-for="Status" class="col-form-label"></label>
    <input asp-for="Status" class="form-control" disabled />
</div>
<br />

<div class="form-group">
    <label asp-for="Doctor" class="col-form-label"></label>
    <input asp-for="DoctorId" class="form-control" disabled />
</div>
<br />

<div class="form-group">
    <label asp-for="Patient" class="col-form-label"></label>
    <input asp-for="PatientId" class="form-control" disabled />
</div>
<br />

<a asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Update</a> |
<a asp-action="Index" class="btn btn-light">Back To List</a>