@using Hospital.Core.Dtos
@model PrescriptionDetailDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete PrescriptionDetail</h1>

<h1 class="alert alert-danger">Are you sure to Delete this PrescriptionDetail?</h1>

<form asp-action="Delete">


    <div class="form-group">
        <label asp-for="Dosage" class="col-form-label"></label>
        <input asp-for="Dosage" class="form-control" readonly />
    </div>
    <br /> <div class="form-group">
        <label asp-for="Frequency" class="col-form-label"></label>
        <input asp-for="Frequency" class="form-control" readonly />
    </div>
    <br />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>