@model RoleFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="alert alert-primary">Add New Role</h1>

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}